<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rtc.thanyalak.jaruwan.gamebetting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Money" />
        <activity android:name=".Question" />
        <activity android:name=".Answer" />
        <activity android:name=".money2" />
        <activity android:name=".money3" />
        <activity android:name=".Money4" />
        <activity android:name=".Money5" />
        <activity android:name=".Question2" />
        <activity android:name=".Answer2" />
        <activity android:name=".Question3" />
        <activity android:name=".Question4" />
        <activity android:name=".Question5" />
        <activity android:name=".Question6" />
        <activity android:name=".Question7" />
        <activity android:name=".Question8" />
        <activity android:name=".Question9" />
        <activity android:name=".Question10" />
        <activity android:name=".Question12" />
        <activity android:name=".Question13" />
        <activity android:name=".Question14" />
        <activity android:name=".Question15" />
        <activity android:name=".Answer3" />
        <activity android:name=".Answer4" />
        <activity android:name=".Answer5" />
        <activity android:name=".Answer6" />
        <activity android:name=".Answer7" />
        <activity android:name=".Answer8" />
        <activity android:name=".Answer9" />
        <activity android:name=".Answer10" />
        <activity android:name=".Answer11" />
        <activity android:name=".Answer12" />
        <activity android:name=".Answer13" />
        <activity android:name=".Answer14" />
        <activity android:name=".Answer15" />
        <activity android:name=".Question11" />
        <activity android:name=".EndGame"></activity>
    </application>

</manifest>